<html>
	<head>
		<title>error</title>
	</head>
	<script type="text/javascript">
		window.onload = () => {
			alert('<%=message%>')
			location.href = '<%=redirect%>'
		}
	</script>
	<body>
	</body>
</html>
