<html>
<head>
<title>regist</title>
</head>
<body>
<form name="reg" method="POST" action="/auth/register">
	id : 
	<input type="text" name="id" />
	<p>
	password : 
	<input type="password" name="password" />
	<p>
	이름 : 
	<input type="text" name="name" />
	<p>
	<input type="submit" value="회원가입" />
</form>
</body>
</html>
